extends ../../layouts/default.pug

block content
    .container-fluid.mt-5
        h2.mb-4 Quản lý sản phẩm

        // BỘ LỌC
        .card.mb-4.shadow-sm
            .card-body
                .row
                    .col-md-6
                        form.form-inline
                            select.form-control.mr-2#filterCategory
                                option(value="") -- Thay đổi nhanh --
                                option(value="ao") Áo
                                option(value="giay") Giày
                                option(value="phukien") Phụ kiện
                            button.btn.btn-primary(type="button", id="filterBtn") Thay đổi
                    .col-md-6.text-right
                            button.btn.btn-outline-success#addProductBtn Thêm sản phẩm
                            button.btn.btn-outline-danger#trashProductBtn Thùng rác

        .card.shadow-sm
            .card-header
                h5.mb-2(style="text-align: center;") Danh sách sản phẩm
                .row.mb-3
                    .col-10
                        .form-inline
                            input.form-control.mr-2#searchName(type="text", placeholder="Tìm theo tên...", value=keywordSearch)
                            select.form-control.mr-2#filterCategory
                                option(value="") -- Danh mục --
                                option(value="ao") Áo
                                option(value="giay") Giày
                                option(value="phukien") Phụ kiện
                            select.form-control.mr-2#filterStatus
                                option(value="") -- Trạng thái --
                                option(value="active", selected=(status === 'active')) Hoạt động
                                option(value="inactive", selected=(status === 'inactive')) Dừng hoạt động
                            button.btn.btn-primary(type="button", filterBtn) Lọc

                    .col-2.text-right
                        select.form-control.mr-2#filterSort(name="sortName")
                            option(value="") -- Sắp xếp --
                            option(value="price" valueSort="asc") Giá thấp
                            option(value="price" valueSort="desc") Giá cao
                            option(value="name" valueSort="asc") Tên từ A-Z
                            option(value="name" valueSort="desc") Tên từ Z-A
                            option(value="position" valueSort="desc") Vị trí từ cao đến thấp
                            option(value="position" valueSort="asc") Vị trí từ thấp đến cao

            .card-body
                table.table.table-bordered.table-hover
                    thead.thead-dark
                        tr( style="text-align: center;" )
                            th Ảnh
                            th Tên
                            th Danh mục
                            th Giá
                            th Giảm giá
                            th Số lượng
                            th Trạng thái
                            th Vị trí
                            th Hành động

                        tbody
                            if products.length === 0
                                tr
                                    td(colspan="9", style="text-align: center;") Không có sản phẩm nào.
                            else
                                each product in products
                                    tr(id=product.id  style="text-align: center;" )
                                        td
                                            img(src=product.image, alt=product.name, style="width: 60px; height: 60px; object-fit: cover; border-radius: 4px;")
                                        td #{product.name}
                                        td Danh mục
                                        td #{product.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}
                                        td #{product.discountPercent}%
                                        td #{product.quantity}
                                        td( status=product.status , style="cursor: pointer;" )
                                            if product.status == 'active'
                                                span.badge.badge-success Hoạt động
                                            else if product.status == 'inactive'
                                                span.badge.badge-danger Ngừng hoạt động
                                        td 
                                            form(action=`/admin/products/change-position/${product.id}`, method="POST", class="d-inline-block", change-position)
                                                input(type="number", name="position", value=product.position, min="0", class="form-control position-input", style="width: 70px; margin: 0 auto;")
                                        td
                                            button.btn.btn-sm.btn-info(type="detail") Xem
                                            button.btn.btn-sm.btn-warning(type="edit") Sửa
                                            button.btn.btn-sm.btn-danger(type="delete") Xóa


        nav.mt-4
            ul.pagination
                li.page-item.disabled
                a.page-link(href="#") «
                li.page-item.active
                a.page-link(href="#") 1
                li.page-item
                a.page-link(href="#") 2
                li.page-item
                a.page-link(href="#") »

    form(action="/admin/change-status", method="POST" , form-change-status class="d-none")
    form(action="/admin/products", method="POST" , form-delete class="d-none")
    
    script(type="module", src="/public/admin/scripts/product.js") 